body {
    background-image: url('../img/fondoprincipal.webp');
    background-size: auto;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    background-position: center top 120px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0);
    position: fixed;
    top: 2px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.logo img {
    max-height: 35px;
}

.main-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin-left: 260px;
    padding: 0;
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li:not(:first-child) {
    margin-top: 5px;
    padding: 8px;
}

.main-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s, background 0.3s;
    border-radius: 5px;

}

.main-menu ul li a:hover {
    color: rgb(91, 145, 254);
    background: #C3D4FE;
    border-radius: 5px;
    font-weight: bold;
}

.extra-options {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    padding: 8px;
    margin-right: 310px;

}

.extra-options p {
    color: #928AE7;
    font-size: 1rem;
    margin-left: -12px;

}

.registro-btn {
    background: #0ccf67;
    color: black;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}

.registro-btn:hover {
    background: darkgreen;
    text-decoration: none;
}

.registro-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: darkblue;

}

.registro-info img {
    max-height: 20px;
}

.login-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    gap: 10px;
    text-decoration: none;
}

.login-btn p {
    color: #928AE7;
    font-size: 1rem;
    margin: 0;
}

.login-btn i {
    color: #928AE7;
    font-size: 1.5rem;

}

.bi-person-circle {
    color: #928AE7;
    font-size: 1.5rem;

}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px;
    margin-top: 60px;
}

.content-left {
    flex: 1;
    padding-right: 20px;
    margin-left: 300px;

}

.content-left .paragraph-one {
    font-size: 2rem;
    margin-bottom: 40px;
}

.content-left .paragraph-padding {
    color: rgb(166, 165, 165);
    line-height: 30px;
    font-size: 1.1rem;

}

.content-left .highlight {
    color: blue;
}

.content-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.content-right img {
    max-width: 100%;
    height: auto;
    margin-right: 280px;
    margin-top: 22px;
}

.slider-container {
    background-color: #F7F7F7;
    padding: 20px;
    margin-top: 60px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
    padding: 20px;
}

.slide.active {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.centered-text {
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 30px;
}

.image-text-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.image-left {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-left img {
    max-width: 100%;
    height: auto;
}

.text-right {
    flex: 1;
    padding-left: 20px;
    margin-left: 100px;
    text-align: left;
}

.text-right p .highlight {
    font-size: 1.5rem;
    color: blue;
}

.text-right .paragraph-two {
    line-height: 24px;
    text-align: left;
}

.slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #808080;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: blue;
}

.info-section {
    padding: 20px 20px;
    background-color: #f9f9f9;
    text-align: center;
    position: relative;
}

.info-text {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 40px;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.info-image {
    position: absolute;
    top: -40px;
    left: 200px;
    margin: 0;
    transform: rotate(-10deg);
}

.info-image img {
    width: 75%;
    height: auto;
    display: block;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;
    max-width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 150px;
}

.card-title {
    margin: 15px 0;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 15px;
}
.card-text{
    text-align: justify;
    margin-left: 15px;
}

.card hr {
    border: 0;
    height: 3px;
    width: 52%;
    margin: 0;
    padding-left: 20px;
    margin-left: 20px;
}
.card {
    position: relative; /* Asegura que la mini carta o viñeta se posicione dentro de la otra */
}
.proximamente-badge {
    position: absolute;
    top: 10px; /* Ajusta la posición verticalmente */
    left: 10px; /* Ajusta la posición horizontalmente */
    background-color: rgba(255, 0, 0, 0.8); /* Fondo rojo semitransparente */
    padding: 5px 10px;
    border-radius: 10px;
    height: 15px;
}

.proximamente-badge p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: white;
}


.card .rojo {
    background-color: red;
}

.card .azul {
    background-color: blue;
}

.card .verde {
    background-color: #30B86C;
}

.card .amarillo {
    background-color: rgb(253, 215, 0);
}



.extra-info-text {
    font-size: 1.3rem;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 40px;
    color: rgb(166, 166, 166);
}

.extra-info-highlight {
    font-size: 1.6rem;
    color: blue;
    font-weight: bold;
    text-align: left;
    margin-top: 100px;
    margin-left: 355px;
}

/* Estilos de las 3 cartas */


.extra-card {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 600px; /* Ancho máximo de la carta */
    background-color: #ffffff ; /* Color de fondo gris */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Margen superior e inferior automático, centrado horizontalmente */
    border-radius: 10px; /* Bordes redondeados */

    /* Ajuste para hacer la carta rectangular */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    margin-right: 47%;
}

.extra-card .gray-bg {
    display: flex;
    align-items: center;
}

.extra-card .small-icon {
    width: 28px; /* Ancho de la imagen pequeña */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 15px; /* Espaciado a la derecha de la imagen */
    margin-bottom: 15%;
}

.extra-card .card-content {
    flex: 1; /* Ocupa el espacio restante */
}

.extra-card p {
    margin: 0; /* Elimina margen por defecto */
    text-align: justify;
}
.extra-card .card-content .parrafo-carta{
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;

}



.extra-card1 {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 600px; /* Ancho máximo de la carta */
    background-color: #f3f1f1 ;
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Margen superior e inferior automático, centrado horizontalmente */
    border-radius: 10px; /* Bordes redondeados */

    /* Ajuste para hacer la carta rectangular */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    margin-right: 47%;
}

.extra-card1 .gray-bg1 {
    display: flex;
    align-items: center;
}

.extra-card1 .small-icon1 {
    width: 28px; /* Ancho de la imagen pequeña */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 15px; /* Espaciado a la derecha de la imagen */
    margin-bottom: 15%;
}

.extra-card1 .card-content1 {
    flex: 1; /* Ocupa el espacio restante */
}

.extra-card1 p {
    margin: 0; /* Elimina el margen por defecto */
    text-align: justify;
}
.extra-card1 .card-content1 .parrafo-carta1{
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;

}


.extra-card .small-icon2 {
    width: 28px; /* Ancho de la imagen del loguito */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 15px; /* Espaciado a la derecha de la imagen */
    margin-bottom: 9%;
}
.extra-card .parrafo-cartas{
    font-size: 0.9rem;
}


.extra-image {
    position: absolute;
    top: 70%;
    right: 19%;
    transform: translateY(-50%);
    width: 25%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.extra-image img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.extra-small-image {
    position: absolute;
    top: 52%; /* Aqui mantiene la posición vertical según necesites */
    right: 1%; /* Aqui mantiene la posición horizontal según necesites */
    width: 25%; /* Aqui mantiene este valor según el tamaño deseado */
    height: auto; /* Aqui Mantiene la proporción de la imagen */

}
.extra-small-image img {
    width: 20%;
}

.site-footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

}
.footer-social i{
    color: black;
}

.footer-social a img {
    max-width: 30px;
}

.footer-text p {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
}



/* Estilos para que la pagina sea responsive */




@media (max-width: 768px) {
    .highlight-card {
        padding: 15px;
    }

    .highlight-card-text {
        font-size: 1rem;
    }

    .highlight-card-paragraph {
        font-size: 0.9rem;
    }

    .extra-cards-container {
        flex-direction: column;
        align-items: center;
    }

    .extra-images-container {
        flex-direction: column;
        align-items: center;
    }

    .medium-image {
        width: 75%;
    }

    .small-image {
        width: 50%;
        top: 0;
        right: 0;
    }
}


/* ajuste adicionales para hacer un poco renponsive*/

@media (max-width: 1200px) {
    .main-menu ul {
        margin-left: 100px;
    }

    .extra-options {
        margin-right: 150px;
    }

    .content-left {
        margin-left: 150px;
    }

    .content-right img {
        margin-right: 150px;
    }

    .info-image {
        left: 100px;
    }
}

@media (max-width: 992px) {
    .main-menu ul {
        margin-left: 50px;
        gap: 10px;
    }

    .extra-options {
        margin-right: 100px;
    }

    .content-left {
        margin-left: 100px;
    }

    .content-right img {
        margin-right: 100px;
    }

    .info-image {
        left: 50px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-menu ul {
        flex-direction: column;
        gap: 5px;
        margin-left: 0;
    }

    .extra-options {
        margin-right: 0;
        margin-top: 10px;
        gap: 10px;
    }

    .content-left {
        margin-left: 0;
        text-align: center;
        padding-right: 0;
    }

    .content-right {
        justify-content: center;
        margin-top: 20px;
    }

    .content-right img {
        margin-right: 0;
    }

    .image-left {
        justify-content: center;
    }

    .text-right {
        margin-left: 0;
        padding-left: 0;
    }

    .info-image {
        position: static;
        transform: none;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    .extra-options {
        flex-direction: column;
        align-items: flex-start;
    }

    .registro-btn {
        width: 100%;
        text-align: center;
    }

    .login-btn {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .content-left .paragraph-one {
        font-size: 1.5rem;
    }

    .content-left .paragraph-padding {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .content-left {
        padding-right: 0;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
    }
}
